body {
  background-color: #fff3c9;
}

header {
  background-color: #05a89a;
  height: 90px;
  font-size: 70px;
  width: 100%;
}

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-areas: 'header header header';
  grid-template-columns:  33% auto auto;
  grid-gap: 50px;
}

.header {
  grid-area: header;
}

.left-side {
  grid-column: 1;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    /* background-color: #ffffff; */
    border-radius: 11px;
}
div.gallery:hover {
    border: 1px solid #777;
    border-radius: 11px
}
div.gallery img {
    width: 48%;
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 11px
}
/* div.desc {
    padding: 15px;
    text-align: center;
    height: 70px;
    color: #2b7066;
    background-color: #ffffff;
    border-radius: 11px
} */

.middle{
  grid-column: 2;
}

.right-side{
  grid-column: 3;
}
